.content-background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 65px;
    padding-bottom: 70px;
    &__body{
        max-width: 511px;
    }
    p {
        font-size: 20px;
        font-family: $josefin;
        line-height: 1.095em;
        margin-bottom: 22px;
        max-width: 556px;
    }
}
.content-with-background{

    .content-bg-inner{
        background: #fdf6fa;
        padding: 73px 0;
    }
}
@media (max-width:$tablet-lg){
    .content-with-background{
        .container{
            padding-left: 0;
            padding-right: 0;
        }
        .content-bg-inner{
            padding: 26px 20px;
        }
        .content-background{
            padding: 10px 17px;
        }
    }
}
@media (max-width:$phone){
    .content-background{
        &__body{
            max-width: 240px;
        }
        h2{
            margin-bottom: 7px;
        }
        p{
            font-size: 10px;
        }
    }

}