.products-grid {
    padding-top: 85px;

    .section-heading {
        margin-bottom: 37px;
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
    }

    &__img {
        flex: 0 0 40%;
        max-width: calc(40% - 20px);
        margin: 10px;

        img {
            width: 100%;
            height: 100%;
            min-height: 332px;
            object-fit: cover;
        }
    }

    .col-card {
        flex: 0 0 20%;
        max-width: 20%;
        margin-bottom: -50px;
    }

    .badge {
        display: none;
    }
    .slick-slide {
        width: 243px;
    }

    @media (max-width: $desktop) {
        &__img {
            flex: 0 0 33.333%;
            max-width: calc(33.333% - 20px);
        }
        .col-card {
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }
    }

    @media (max-width: $phone) {
        .container {
            padding-right: 0;
        }

        &__grid {
            display: block;
        }
        &__img {
            flex: none;
            max-width: 100%;
            width: 186px!important;
            margin: 5px;

        }
        .col-card {
            flex: none;
            max-width: 100%;
        }
        .slick-slide {
            width: 186px!important;
        }
    }
}