*{
    box-sizing: border-box;
}
body{
    font-family: $montserrat;
    color: $color-text;    
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2em;
}

h1,
h2,
h3{
    font-family: $josefin;
    margin: 0 0 30px;

    @media (max-width: $phone){
        margin: 0 0 15px;
    }
}

h4,
h5,
p{
    font-family: $montserrat;
}

a{
    color:$color-text;
    text-decoration: none;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    &:focus,
    &:hover{
        color:$color-primary;
        text-decoration: none;
    }
}

ol,
ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
}

h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;

    @media(max-width: $tablet){
        font-size: 40px;
    }
    @media(max-width: $phone){
        font-size: 25px;
    }
}

h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2em;

    @media(max-width: $phone){
        font-size: 15px;
    }
}

h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.09em;

    @media(max-width: $phone){
        font-size: 10px;
    }
}

.section{
    padding: 40px 0;

    a{
        font-family: $montserrat;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.46em;
        color: $color-primary;
        &:focus,
        &:hover{
            color: $color-text;
        }
    }
}

.wrapper{
    &-md{
        max-width: $wrapper-md;
        margin: 0 auto;
    }
    &-lg{
        max-width: $wrapper-lg;
        margin:0 auto
    }
}
.section-heading{
    h2{
        font-size: 25px;
	    font-weight: 600;
	    line-height: 1.2192em;
	    margin: 0 0 32px;
        text-align: center;
        text-transform: uppercase;
    }
}

h5 {
	font-size: 15px;
	font-weight: 600;
	line-height: 1.38em;
	margin: 0 0 10px;
}

