// ----------------------------------------------------------------------
// Primary colors
// ----------------------------------------------------------------------
$color-primary: #D12771;
$color-primary-light: #E8A6CA;
$color-secondary: #B8E15D;
$color-ternary: #12CBE0;

// ----------------------------------------------------------------------
// Secondary colors
// ----------------------------------------------------------------------
$color-complement: #DFDFE2;
$color-complement-2: #F1D9E5;
$color-complement-3: #ECC3D9;

$color-dark: #000000;
$color-light: #ffffff;
$color-text: #272525;

// ----------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------
$josefin: "Josefin Sans",sans-serif;
$montserrat: Montserrat,sans-serif;

// ----------------------------------------------------------------------
// Wrapper
// ----------------------------------------------------------------------
$wrapper: 1415px;
$wrapper-md: 1065px;
$wrapper-lg: 1300px;

// ----------------------------------------------------------------------
// Breakpooints
// ----------------------------------------------------------------------
$phone-sm: 450px;
$phone: 600px;

$tablet-sm: 450px;
$tablet: 600px;
$tablet-lg: 1024px;

$desktop: 1200px;
$desktop-lg: 1415px;